<div class="header">

  <div class="img1">
    <img src="https://i.pinimg.com/736x/3d/74/b1/3d74b17105ce1d2046935a29331cc55e.jpg" alt="Imagem de Casa">
  </div>

  <div class="link">
    <!--<a href="">Home</a>-->
    <a href="login">Login</a>
    <a routerLink="form">Formulário</a>
  </div>

  <div class="img2">
    <img
      src="https://thumbs.dreamstime.com/z/programador-de-software-isom%C3%A9trico-ou-codifica%C3%A7%C3%A3o-no-computador-pc-d-simples-que-codifica-conceito-programa%C3%A7%C3%A3o-e-concep%C3%A7%C3%A3o-216304200.jpg"
      alt="Programador no Pc">
  </div>

</div>


<router-outlet></router-outlet>

<div class="rodape">
  <h3>Contatos do desenvolvedor</h3>
  <p><strong>WhatsApp:</strong> (22) 99864-3385</p>
  <p><strong>Gmail:</strong> joelsonluiz2010@gmail.com</p>
</div>
