.title {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

body {
  margin: 0;
  padding: 0;
}

.btn {
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  max-height: 40px;
  max-width: 120px;
  padding: 3px;
  box-sizing: border-box;
  border-radius: 6px;
  border: 0;
  background-color: green;
  color: white;
  box-shadow: 2px 2px 0px 1px rgba(27, 26, 26, 0.8);

  transform: box-shadow 0.5 ease, transform 0.5 ease;
}

.btn:active {
  box-shadow: 0 0 0 0 rgba(27, 26, 26, 0.8), inset 2px 2px 0 1px rgba(27, 26, 26, 0.8);
  transform: translate(2px, 2px);
}
